:root {
  --c-dark-1: #4b4b5a;

  --c-white-1: #ffffff;
  --c-white-2: #FFF3F4;

  --c-blue-1: #5B5BBC;
  --c-grey-1: #636376;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background: var(--c-dark-1);
  color: var(--c-white-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
